@model Person
@{
    Layout = "_Layout_People";
}
@* @if (ViewBag.Messgae != null)
{
    <h1>@ViewBag.Messgae</h1>
} *@

<form class="row g-3"
      asp-controller="People"
      asp-action="Add"
      method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName"  class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="1234 Main St">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="CityName" class="form-label"></label>
        <input asp-for="CityName" class="form-control">
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
	    <label asp-for="Age" class="form-label"></label>
	    <input asp-for="Age" class="form-control" data-model="@Model.Age">
	    <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">ذخیره</button>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

